<html>

<head>
    <link rel="stylesheet" href="./template.css">
</head>

<body>
    <div>
        <h3>Cher <span>{{ user.nom }} {{user.prenom }}</span>,</h3>
        <p>Nous vous informons que la voiture {{ marque }} avec l' immatriculation {{ imm }} a été reparée</p>
        <p>
            Veillez consulter les historiques de réparation pour voir la facture de celle-ci .
        </p>
        <p>
            Veillez vous présentez dans les plus bref délais afin de procéder au payement et de récupérer la voiture. 
        </p>
    </div>
</body>

</html>