<div class="row">
    <div class="col-md-10 offset-md-1 form-1-box wow fadeInUp">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary text-center"> {{"Historique des réparations pour la voiture avec l\'immatriculation : "+imm}}</h6>
            </div>
            <div class="card-body">
                <form *ngIf="isSearch || reparations" #f="ngForm" (ngSubmit)="onSearch(f.value)">
                    <div class="form-group">
                    <label>Date: </label>
                    <input class="ml-2" type="datetime-local" name="keyword" ngModel>
                        <button  type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </form>
                <div class="d-sm-flex align-items-center justify-content-center">
                    <div style="width: 3rem; height: 3rem;" class="  spinner-border text-info" role="status" *ngIf="isLoading" >
                        <span class="sr-only text-center ">Loading...</span>
                    </div>
                </div>
                <div  *ngIf="isNodata">
                    <br>
                    <div  class="alert alert-info text-center" role="alert">
                        Aucune historique de réparation
                      </div>
                </div>
                <table *ngIf="reparations && !isLoading" class="table table-responsive-md table-responsive-sm  table-responsive-lg">
                    <tr>
                        <th>Immatriculation</th><th>Marque</th><th>Date Entrée</th><th>Date Sortie</th><th>Prix Total</th>
                    </tr>
                    <tr *ngFor="let reparation of reparations.docs; index as i">
                    <td>{{reparation.immatriculation}}</td>
                    <td>{{reparation.marque}}</td>
                    <td>{{reparation.reparation!.dateEntree | date:'dd-MM-yyyy HH:mm'}}</td>
                    <td>{{reparation.reparation!.dateSortie | date:'dd-MM-yyyy HH:mm'}}</td> 
                    <td>Ar {{reparation.reparation!.prixTotal | number}}</td>
                    <td>
                        <button [routerLink]="['/voiture',reparation.immatriculation,'historique',reparation.reparation!.dateEntree]" class="btn btn-primary" >Détails</button>
                    </td>
                    <td>
                        <button [routerLink]="['/voiture',reparation.immatriculation,'facture',reparation.reparation!.dateEntree]" class="btn btn-primary" >Facture</button>
                    </td>
                    <!-- <td>
                        <button class="tooltip1 btn btn-success rounded-circle"><i class="fa fa-check" aria-hidden="true"></i>
                            <span class="tooltip1text">Validation bon de sortie</span>
                        </button>

                    </td> -->
                    

                    </tr>
                    </table>
                    <ul *ngIf="reparations && !isLoading"  class="nav justify-content-center">
                    <li class="page-item" [ngClass]="((i+1)==currentPage)?'active':''" *ngFor="let page of pages; let i=index">
                    <a class="page-link btn btn-primary  ml-1" (click)="onPageReparations(i)">{{i+1}}</a>
                    </li>
                    </ul>
                
            </div>
        </div>
    </div>
    </div>
