<div *ngIf="profile=='client'">
    <ul class="navbar-nav  sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-text mx-3">Espace client</div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item active">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="redirectionClient('ajout')">
                <i class="fas fa-fw fa-cog"></i>
                <span>Ajout voiture</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="redirectionClient('depot')">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Dépot voiture</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="redirectionClient('liste')">
                <i class=" fas fa-fw fa-chart-area"></i>
                <span>Mes voitures</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-table"></i>
                <span>Paiement</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
</div>

<div *ngIf="profile=='atelier'">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Atelier</div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item">
            <a class="nav-link" (click)="redirectionAtelier('diagnostique')">
                <i class="fas fa-fw fa-cog"></i>
                <span>Diagnostique</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/atelier/reparation">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Réparation</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/atelier/bonsortie">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Bon de sortie</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
</div>

<div *ngIf="profile=='finance'">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Finance</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" routerLink="/finance/home">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/finance/depense">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Depense</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/finance/payement">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Payement</span></a>
        </li>
        <!-- Divider -->
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
</div>