<div class=" card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Liste des voitures à diagnostiquer</h6>
    </div>
    <div class="card-body">
        <div class="d-sm-flex align-items-center justify-content-center">
            <div style="width: 3rem; height: 3rem;" class="  spinner-border text-info" role="status" *ngIf="loading" >
                <span class="sr-only text-center ">Loading...</span>
            </div>
        </div>
        <div *ngIf="!loading" class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="bg-primary text-white">
                    <tr>
                        <th class="text-center">Immatriculation</th>
                        <th class="text-center">Marque</th>
                        <th class="text-center">Date de dépot</th>
                        <th class="text-center">Signalements</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>               
                <ng-container>
                    <tbody *ngFor="let i of listeVoiture; index as index">
                        <tr>
                            <td class="text-center">{{i.immatriculation}}</td>
                            <td class="text-center">{{i.marque}}</td>
                            <td class="text-center">{{i.depots[i.depots.length-1].dateDepot | date:' d MMMM y'}}</td>
                            <td class="text-center">
                                <ul class="list-group" *ngFor="let j of i.depots[i.depots.length-1].signalements">
                                    <li class="list-group-item list-group-item-danger">{{j}}</li>
                                </ul>
                            </td>
                            <td class="text-center"><button type="submit" class="btn btn-primary"
                                    (click)="diagnostique(i.immatriculation)">Diagnostique</button></td>
                        </tr>
                    </tbody>
                </ng-container>
            </table>
        </div>
    </div>
</div>
<br>
<hr>
<div *ngIf="messageSuccess" class="alert alert-success text-center" role="alert">
    {{ messageSuccess }}
</div>

<div *ngIf="immatriculation" class="card shadow mb-4">
    <div class="card-header py-3 d-flex align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Composant à réparer du voiture : </h6>
        <button class="btn btn-primary ml-auto" (click)="valider()">Valider</button>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
                    class="col-md-6" (cdkDropListDropped)="drop($event)">
                    <h2 class="text-primary">Composants</h2>
                    <div class="example-box" *ngFor="let item of todo" cdkDrag (drag)="getComposant(item)">{{item}}
                    </div>
                </div>
                <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListDisabled]
                    cdkDropListSortingDisabled class="col-md-6" (cdkDropListDropped)="drop($event)">
                    <h2 class="text-primary">A reparer</h2>
                    <h6>(veuillez définir le motant et ensuite cocher les pieces à ajouter)</h6>

                    <div class="example-box" *ngFor="let item of listeComposantReparer; let i=index" cdkDrag>
                        <div class="form-row">
                            <div class="col-md-10">
                                <div class="form-check" *ngFor="let piece of item.pieces; let j=index">
                                    <input class="form-check-input" type="checkbox" [value]="piece"
                                        (change)="getPiece($event, piece,item.nom,i,j)" name="{{piece}}" id="{{piece}}"
                                        [disabled]="!prixPiece[i][j]">
                                    <label class="form-check-label mr-3" for="{{piece}}">
                                        <strong>{{piece}}</strong>
                                    </label>
                                    <br>
                                    <label for="prix">Prix:</label>
                                    <input type="number" [(ngModel)]="prixPiece[i][j]" id="prix"
                                        class="form-control w-50 mr-5 text-center">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-danger" (click)="deleteComposant(item)">X</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <hr><br>
    <div *ngIf="messageErreur" class="alert alert-danger text-center" role="alert">
        {{ messageErreur }}
    </div>
</div>