<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>
 <!-- Content Row -->
 <div class="row justify-content-center">
    <!-- AVG Reparation -->
    <div class="col-xl-6 col-md-10 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Temps en moyenne de réparation d' une voiture :</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{formatSecond(stat.avgReparation)}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Content Row -->
 <div class="row justify-content-center">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-8 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Chiffre d'affaire (Monsuel)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Ar {{stat.chiffMois | number}} </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-8 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Chiffre d'affaire (Annuel)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Ar {{stat.chiffAn | number}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div *ngIf="(stat.chiffMois - stat.depenseMois) >= 0; else elseBlock" class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Bénefice (Monsuel)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Ar {{stat.chiffMois - stat.depenseMois | number}}</div>
                    </div>
                    <ng-template #elseBlock>
                        <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Perte (Monsuel)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><span class="text-danger">Ar {{(stat.chiffMois - stat.depenseMois)* -1 | number}}</span> </div>
                    </div>
                    </ng-template>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div *ngIf="(stat.chiffAn - stat.depenseAn) >= 0; else elseBlock1" class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Bénefice (Annuel)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Ar {{stat.chiffAn - stat.depenseAn | number}}</div>
                    </div>
                    <ng-template #elseBlock1>
                        <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Perte (Annuel)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><span class="text-danger">Ar {{(stat.chiffAn - stat.depenseAn)* -1 | number}}</span></div>
                    </div>
                    </ng-template>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Dépense (Monsuel)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Ar {{stat.depenseMois | number}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Dépense (Annuel)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Ar {{stat.depenseAn | number}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="row">

    <div class="col-xl-12 col-lg-12">

        <!-- Area Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Statistique des chiffres d' affaire par an</h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>

         <!-- Area Chart -->
         <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Statistique des benefices par an</h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart1"></canvas>
                </div>
            </div>
        </div>
    </div>

  
</div>




<!-- Content Row -->