<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Ajout véhicule</h6>
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit()" class="p-4">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="immatriculation">Immatriculation</label>
                <input type="text" class="form-control" id="immatriculation" name="immatriculation"
                    placeholder="Entrez votre immatriculation" [(ngModel)]="immatriculation" required>
            </div>
            <div class="form-group col-md-6">
                <label for="marque">Marque</label>
                <input type="text" class="form-control" id="marque" name="marque"
                    placeholder="Entrez la marque du véhicule" [(ngModel)]="marque" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
        <hr>
        <div *ngIf="errorMessage" class="alert alert-danger text-center" role="alert">
            {{ errorMessage }}
        </div>
        <div *ngIf="message" class="alert alert-success text-center" role="alert">
            {{ message }}
        </div>
    </form>
</div>