<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9  d-flex justify-content-center">

            <div class="card o-hidden col-lg-6 border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Réparation-Auto</h1>
                                    <h2 class="h4 text-gray-900 mb-4">Finance</h2>
                                </div>

                                <form class="user" #f="ngForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger text-center"
                                            role="alert">
                                            {{ errorMessage }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Enter Email Address..." name="email" [(ngModel)]="user.email"
                                            required #email="ngModel"
                                            [ngClass]="{ 'is-invalid': f.submitted && email.errors }">
                                        <div *ngIf="email.errors && f.submitted" class="invalid-feedback ml-3">
                                            Email requis!
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password" name="password"
                                            [(ngModel)]="user.password" required #password="ngModel"
                                            [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
                                        <div *ngIf="password.errors && f.submitted" class="invalid-feedback ml-3">
                                            Mot de passe requis!
                                        </div>
                                    </div>
                                    <div  *ngIf="!isLoading" class="form-group">
                                        <button class="btn btn-primary btn-user btn-block">
                                            <span>Connexion</span>
                                        </button>
                                      </div>
                                      <div *ngIf="isLoading" class="d-sm-flex align-items-center justify-content-center">
                                        <div style="width: 3rem; height: 3rem;" class="  spinner-border text-info" role="status" *ngIf="isLoading" >
                                            <span class="sr-only text-center ">Loading...</span>
                                        </div>
                                    </div>

                                </form>
                                <hr>
                                <div class="text-center">
                                    <a routerLink="/login-atelier" class="small">Se connecter en tant qu'Atelier</a>
                                </div>
                                <div class="text-center">
                                    <a routerLink="/login-client" class="small">Se connecter en tant que Client</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>