<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js">
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Deposition vehicule</h6>
    </div>
    <div class="col-md-12">
        <br>
        <div class="form-group col-md-12">
            <label for="immatriculation">Vehicule</label>
            <select class="form-control" id="immatriculation" [(ngModel)]="immatriculation">
                <option value=""></option>
                <option *ngFor="let i of voituresNonDepot">{{i.immatriculation}}</option>
            </select>
            <label for="signalement">Signalements</label>
            <input type="text" class="form-control" id="signalement" [(ngModel)]="inputValue" name="signalement"
                placeholder="Entre le nom du composant" (input)="onInputChange()" (ngModelChange)="majuscule()">

            <div *ngFor="let option of filteredOptions" class="my-class" (click)="selectOption(option)"
                [hidden]="inputValue === '' || options.includes(inputValue)">{{ option }}</div>
            <br>
            <button class="btn btn-primary " [disabled]="!options.includes(inputValue)" (click)="ajoutSignalement()"
                type="submit">Ajouter signalement</button>
            <hr>
            <ul class="list-group">
                <li *ngFor="let i of listeSingnalement" class="list-group-item list-group-item-danger">{{i}}</li>
            </ul>
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary" (click)="depotVoiture()" type="submit">Déposer</button><br><br>
            <div *ngIf="errorMessage!=''" class="alert alert-danger text-center" role="alert">
                {{ errorMessage }}
            </div>
        </div>
        <div *ngIf="ajoutErreur" class="alert alert-danger text-center" role="alert">
            {{ errorMessage }}
        </div>
        <div *ngIf="message!=''" class="alert alert-success text-center" role="alert">
            {{ message }}
        </div>
    </div>
</div>

<div class=" card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Liste véhicule en dehors de l'atelier</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Immatriculation</th>
                        <th>Marque</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of voituresNonDepot">
                        <td>{{i.immatriculation}}</td>
                        <td>{{i.marque}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>